name: Integration Tests

on:
  pull_request_target:
    branches: [main]

jobs:
  authorization-check:
    permissions: read-all
    runs-on: ubuntu-latest
    outputs:
      approval-env: ${{ steps.collab-check.outputs.result }}
    steps:
      - name: Collaborator Check
        uses: actions/github-script@v7
        id: collab-check
        with:
          result-encoding: string
          script: |
            try {
              const permissionResponse = await github.rest.repos.getCollaboratorPermissionLevel({
                owner: context.repo.owner,
                repo: context.repo.repo,
                username: context.payload.pull_request.user.login,
              });
              const permission = permissionResponse.data.permission;
              const hasWriteAccess = ['write', 'admin'].includes(permission);
              if (!hasWriteAccess) {
                console.log(`User ${context.payload.pull_request.user.login} does not have write access (permission: ${permission})`);
                return "manual-approval"
              } else {
                console.log(`Verified ${context.payload.pull_request.user.login} has write access. Auto Approving.`)
                return "auto-approve"
              }
            } catch (error) {
              console.log(`${context.payload.pull_request.user.login} does not have write access. Requiring Manual Approval.`)
              return "manual-approval"
            }

  check-access-and-test:
    runs-on: ubuntu-latest
    needs: authorization-check
    environment: ${{ needs.authorization-check.outputs.approval-env }}
    permissions:
      pull-requests: read
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Checkout head commit
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v5

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --upgrade boto3
          pip install tox tox-gh-actions

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-west-2
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GithubSession

      - name: Build
        run: |
          echo Build started on `date`
          echo Verifying scala package build, code format and test coverage
          cd scala-spark-sdk
          sbt scalafmtCheckAll jacoco
          cd ..
          echo Scala package build verification finished
          echo Packaging pyspark library according to setup.py
          cd pyspark-sdk
          python setup.py sdist
          tox

      - name: Run Integration Tests
        run: |
          cd pyspark-sdk/integration_test
          chmod +x run-spark-integration-test
          ./run-spark-integration-test
